# Below is for Python code in a PyCharm project 
*.iws
*.pyc
src/tf_codes/models/
src/tf_codes/logs/
src/tf_codes/save_figs/
.idea/
# Below is for LaTeX typesetting files
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.out
qe_paper/QE Paper.pdf
